<footer class="footer">
  <div class="level">
    <div class="level-item">
      <figure class="image is-96x96">
        <a href="https://www.igtennisacademy.com/" target="_blank">
          <img src="assets/images/igta_logo.jpg">
        </a>
      </figure>
    </div>
    <div class="level-item">
      <figure class="image is-96x96">
        <a href="https://www.wtv.de/" target="_blank">
          <img src="assets/images/wtv_talentschmiede_logo.jpg">
        </a>
      </figure>
    </div>
    <div class="level-item">
      <figure class="image is-96x96">
        <a href="https://www.bvh-tennis.de" target="_blank">
          <img src="assets/images/bvh_logo.png">
        </a>
      </figure>
    </div>
    <div class="level-item">
      <figure class="image is-96x96">
        <a href="https://www.tchw-gladbeck.de/" target="_blank">
          <img src="assets/images/tchw_logo.png">
        </a>
      </figure>
    </div>
  </div>
</footer>